body{
    background-color: rgb(253, 253, 253);
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blanchedalmond;
}

div{
    background-color: rgb(164, 200, 231);
    margin: 1%;
    
}
body{
    background-image: url(a102962040573daf804b1f55e8f6471d.gif);
    background-attachment:fixed;
    background-size: cover;
    background-repeat: no-repeat;
}


