<div *ngIf="identity" class="navigation col-lg-1">
<h1>
  {{title}}
</h1>
<span>
  {{identity.name}} {{identity.surname}}
</span>
<span class="btn btn-warning" (click)="logout">
  Cerrar sesion
</span>
</div>
<!--<div class="clearfix"></div>-->
<div *ngIf="identity" class="navigation col-lg-1"> 
  <p>Estas logeado en la app</p>
</div>
<div class="col-lg-12" *ngIf="!identity">
  <div class="col-lg-6">
    <h1>Identificate</h1>
    <div *ngIf="errorMessage">
      <div class="alert alert-info">
        <strong>Error</strong>{{errorMessage}}
      </div>

    </div>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-7">
      <p>
        <label>Correo Electronico</label>
        <input type="email" #email="ngModel" name="email" [(ngModel)]="user.email"  class="form-control" required/> <!-- ngmodel es para propiedad a modificar-->
        <span *ngIf="!email.valid && email.touched" style="color: red;">
          El email es obligatorio

        </span>
      </p>
      <p>
        <label for="">Contraseña</label>
        <input type="password" #password="ngModel" name="password" [(ngModel)]="user.password" class="form-control"required/>
      </p>
      <input type="submit"value="Entrar" class="btn-btn-primary"/>

    </form>
    

  </div>
  <div class="col-lg-6">
    <h1>Registrate</h1>
    <div *ngIf="alertRegister">
      <div class="alert alert-info">
        <strong>Error</strong>{{alertRegister}}
      </div>
    <form class="col-md-7" #registerForm="ngForm"(ngSubmit)="onSubmitRegister()">
      <p>
        <label for="">Nombre</label>
        <input type="text" #name="ngModel" name="name" [(ngModel)]="user_register.name" class="form-control"required/>
        <span *ngIf="!name.valid && name.touched" style="color: red;">
          El nombre es obligatorio

        </span>
      </p>
      <p>
        <label for="">Apellido</label>
        <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user_register.surname"class="form-control" required/>
        <span *ngIf="!surname.valid && surname.touched" style="color: red;">
          El apellido es obligatorio

        </span>
      </p>
      <p>
        <label >Correo Electronico</label>
        <input type="email" #email="ngModel" name="email" [(ngModel)]="user_register.email" class="form-control"required/>
        <span *ngIf="!email.valid && email.touched" style="color: red;">
          El correo es obligatorio
        </span>
      </p>

      <p>
        <label for="">Contraseña</label>
        <input type="password" class="form-control" #password="ngModel" name="password" [(ngModel)]="user_register.password" required/>
        <span *ngIf="!password.valid && password.touched" style="color: red;">
          La pass es obligatoria

        </span>
      </p>
      <input type="submit"value="Registrarse" class="btn-btn-primary"/>
    </form>
  </div>

</div>
