<div class="col-lg-6" id="datosact" style="background-color: antiquewhite; margin-left: 500px;">
  <!-- <link rel="stylesheet" href="/assets/css/styles.css"> -->
    <form class="col-md-7" #userUpdateForm="ngForm" (ngSubmit)="onSubmit()" id="formdatos">
      <h2>
        {{titulo}}
      </h2>
      <p>
        <label for="">Nombre</label>
        <input type="text" #name="ngModel" name="name" [(ngModel)]="user.name" class="form-control" required />
        <span *ngIf="!name.valid && name.touched" style="color: red;">
          El nombre es obligatorio

        </span>
      </p>
      <p>
        <label for="">Apellido</label>
        <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user.surname" class="form-control" required />
        <span *ngIf="!surname.valid && surname.touched" style="color: red;">
          El apellido es obligatorio

        </span>
      </p>
      <p>
        <label>Correo Electronico</label>
        <input type="email" class="form-control" #email="ngModel" name="mail"[(ngModel)]="user.email" required />
        <span *ngIf="!email.valid && email.touched" style="color: red;">
          El correo es obligatorio

        </span>
      </p>
      <div class="image_for_edit" *ngIf="user.image && user.image != 'null'">
        <img src="{{url+'/get-image-user/'+user.image}}" style="width:100px"/>
      </div>
      <p>
        <label for="">Sube tu foto: </label>
        <br>
        <input type="file" placeholder="Subir imagen..." (change)="fileChangeEvent($event)"/>
      </p>
      <!-- <p>
        <label for="">Contraseña</label>
        <input type="password" class="form-control" required />
      </p> -->
      <input type="submit" value="Actualizar datos" class="btn-btn-primary" />
    </form>
  </div>